body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:
        #f8f8f8;
}

/* Banner */
#banner {
    
    width: 100%;
    height: 80px; /* Defina a altura do cabeçalho */
    color: rgb(36, 35, 35);
    background-color: #3997A1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

img{
    position: fixed;
    height: 90%;
}


/* Rodapé */
#rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    color:#3997A1;
    background-color:    rgb(36, 35, 35);
    text-align: center;
    font-size: larger;
}